@import 'modules';
/* welcome text */
.__hello {
    background-color: $white;
    @include padding(2em .5em);
    box-shadow: 0 0 6px 0 #E2E8EE;
    margin-bottom: 20px;
    .__hello_text h2 {
        font-size: 14px;
        color: $color4;
        margin: 1px 0 4px;
        font-weight: bold;
    }
    .__hello_text p {
        font-size: 12px;
        color: $grey9;
    }
}
._visa_wrap {
    box-shadow: 0 0 6px 0 #E2E8EE;
    padding: 0;
    background: $white;
    float: left;
    margin-bottom: 1.5em;
}

.show_btn {
    display: none;
}
._visabox {
    h4 {
        margin: 1.4em 0;
        font-family: ubuntuB;
    }
    h4._small {
    	margin: 1em 0;
    }
}
._visa_wrap:hover .show_btn {
    display: block;
}
._visaimg {
    padding: 0;
    float: left;
    position: relative;
    img.vicon {
        position: absolute;
        right: -30px;
        top: 40%;
        width: 70px;
    }
}
._visa_item {
	    border: 1px solid $greye;
	    text-align: center;
	    display: inline-table;
	    margin: 0 -2px 20px;
	    padding: 1em 1.8em;
	    line-height: 18px;
	    height: 160px;
    span {
        font-size: 20px;
        font-family: $bold;
        color: $color4;
        font-weight: 600;
        background: $greye;
        @include border-radius(50%);
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 auto;
        line-height: 50px;
        margin-bottom: 1em;
    }
    p {
        color: $color4;
        font-size: 12px;
        font-weight: bold;
        padding-bottom: 5px;
    }
    p.sm {
        color: $grey9;
        font-weight: lighter;
        font-size: 10px;
        line-height: 15px;
    }
}
._visa_item.sm {
		padding: .3em 1em;
		margin: -1px -2px 0px;
		height: 115px;
		width: 88px;
	span {
		background: $trans;
		margin-bottom: 0em;
		height: auto;
		font-size: 23px;
		width: auto;
	}
}
._visa_pending {
	border:1px solid $greye;
	padding: 15px 20px;
	margin:1em 1em;
	h3 {
		font-size: 2.5em;
		line-height:0;
		float: left;
        font-family: 'UbuntuB';
		font-weight: bold;
	}
	span {
		color: $grey9;
		font-size: 12px;
	}
}
._no_of_service {
    border:1px solid $greye;
    padding: 2em 2em;
    margin: 0 auto;
    display: block;
    width: 250px;
    h3 {
        font-size: 5em;
        line-height:45px;
        font-family: 'UbuntuB';
        font-weight: bold;
    }
    span {
        color: $grey9;
        font-size: 12px;
        line-height: 30px;
    }
}
._other_wrap {
    padding: 0;
    float: left;
    margin-bottom: 1.5em;
    :hover .show_btn {
        display: block;
    }
}
._otherbox_item {
    background: $white;
    box-shadow: 0 0 6px 0 #E2E8EE;
    height: 350px;
    text-align: center;
    line-height: 18px;
    h4 {
        font-family: 'UbuntuB';
        font-size: 14px;
    }
    p {
        font-size: 12px;
        color: $grey9;
        padding: 0 1em;
        margin-bottom: 1em;
    }
}
._otherbox_img {
    img {
        height: 150px;
        width: 100%;
    }
    .icon {
        width: 70px;
        height: auto;
        margin: 0 auto;
        display: block;
        margin-top: -2.5em;
    }
}
._other_wrap .col-md-3 {
    padding-left: 5px;
    padding-right: 5px;
}
._other_wrap .col-md-3:first-child {
    padding-left: 0;
    padding-right: 8px;
}







